node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

# SQLite database files
prisma/prisma/dev.db
prisma/prisma/dev.db-journal
prisma/prisma/dev.db-wal
prisma/prisma/dev.db-shm
